<div class="block">
  <div class="sidebar-block">
    <p>
    用户: <%= @cur_user.name%>
    </p>
    <%if @cur_user.org%>
      <p>
      组织：<%= @cur_user.org.name %>
      </p>
      <p>
      类型: <%= @cur_user.org.class.type_name%>
      </p>
    <%end%>
  </div>
</div>
