<%= form_for(@comment,:url=>@path,:html=>{:class=>'form'}) do |f| %>
  <div class="group">
    <%= f.label :content,'内容',:class=>'label' %>
    <%= f.text_area :content,:size=>'60x3',:class=>'text_area' %>
  </div>
  <div class="group navform wat-cf">
    <button class="button" type="submit">
      提交
    </button>
    <span class="text_button_padding">或</span>
    <%= link_to '取消', @back,:class=>'text_button_padding link_button' %>
  </div>
<% end %>
