<%
  #partial => _brief_items_tr
#locals => items,kind,kind_cn
%>
<%unless items.empty?%>
  <%n=0
  items.each do |e|%>
    <tr>
      <%(n+=1).upto(1)do %>
        <td colspan="1" rowspan="<%=items.length%>"><%=kind_cn%></td>
      <%end%>
      <td><%= simple_format(e.name)  %></td>
      <td><%= e.quantity  %></td>
    </tr>
  <%end%>
<%end%>

