<div class="block">
    <div class="content">
      <h2 class="title">login history</h2>
    <div class="inner">
      <%if @logins%>
        <%=render 'index'%>
      <%end%>
    </div>
  </div>
</div>

