<%
  #solution_items/index/_index
#locals=>brief,solution
%>
<%unless brief.items.empty?%>
  <table class="table brief_items">
    <tbody>
      <tr>
        <th></th>
        <th>名称</th>
        <th>数量</th>
        <th>说明</th>
        <th></th>
      </tr>
      <%=render 'solution_items/index/items_tr',
        :solution=>solution,
        :items=>brief.designs,
        :kind_cn=>'设计',
      %>
      <%=render 'solution_items/index/items_tr',
        :solution=>solution,
        :items=>brief.products,
        :kind_cn=>'制作',
      %>
    </tbody>
  </table>
<%end%>

