<div>
  <p>
  <strong>Brief处理流程概述</strong><br/>
  (1) RPM新建一个brief<br/>
  (2) RPM将brief发送给Cheil.(brief的状态:方案中)<br/>
  (3) Cheil为brief指派vendor,vendor制作方案,Cheil合成vendor的方案发送给RPM.(brief状态:待审定)<br/>
  (4) RPM审定通过.(brief的状态:执行中)<br/>
  (5) 方案执行结束,由Cheil设置brief的状态为完成
  </p>
</div>
<div>
  <p>
  <strong>RPM可执行的操作</strong><br/>
  (1) 新建brief,修改、删除自己的brief<br/>
  (2) 取消一个brief<br/>
  (3) 审定Cheil提交的方案<br/>
  (4) brief列表,查询<br/>
  </p>
</div>
<div>
  <p>
  <strong>Cheil可执行的操作</strong><br/>
  (1) 修改收到的brief<br/>
  (2) 为一个brief选择vendor<br/>
  (3) 合成vendor的方案,生成Cheil方案提交给RPM<br/>
  (4) 输入付款记录<br/>
  (5) 标记brief为完成状态<br/>
  (6) brief列表,查询
  </p>
</div>
<div>
  <p>
  <strong>Vendor可执行的操作</strong><br/>
  (1) 收到brief后,制作方案(上传附件,报价)<br/>
  (2) brief列表,查询
  </p>
</div>


