<%
  #vendor_solutions/cheil/_nav
#locals => brief,solution
%>
<li>
<%=link_to '返回',vendor_solutions_path(:brief_id=>brief)%>
</li>
<li class="active">
<%=link_to 'Vendor方案',vendor_solution_path(solution)%>
</li>

